body {
  margin: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.timer-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.timer-input {
  padding: 10px;
  font-size: 1.1rem;
}

.submit-button {
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  /* color: white; */
  background-color: lightgrey;
  font-size: 1.1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(172, 172, 172);
}

.error-message {
  color: red;
}

.error-message-hidden {
  display: none;
}

.checkbox-container {
  margin-top: 10px;
}

#tooltip-1-key {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip-1-key #tooltip-1-text {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  color: black;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip-1-key:hover #tooltip-1-text {
  visibility: visible;
}

.voice-options {
  margin-top: 10px;
}

.voice-options-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#speech-rate {
  width: 40px;
}

.hide-voice-options {
  display: none;
}